*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    background-color: rgb(183, 192, 201);
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    gap: 60px;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: orange;
    align-items: center;
    padding: 15px;
    grid-column: 1/-1;
}


main{
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    margin-left: 80px;  
    margin-top: 30px;
    gap: 20px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: gray;
    align-items: center;
    color: white;
    grid-column: 1/-1;

}

img {
    width: 100%;
    height: 260px;
    padding: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 3px 3px 5px darkgray;
    background-color: white;
    height: 300px;
    border: 1px solid green;   
}

.video{
    margin: 45px;
    height: 690px;
}

video{
    width: 800px;
}

@media screen and (min-device-width:320px) and (max-device-width: 880px){
    main{
        display: grid;
        grid-template-columns: 1fr;
        width: 70%;
    }
}